.container {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.kpi-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 125px;
}

.kpi {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
}

.table-container {
    margin-top: 20px;
}

.year-select {
    margin-bottom: 20px;
}
